form(action = "/add-contact" method = "POST")
    div(class="addcontact-form")
              
        button(type = "submit" class="btn-basic") Add
        input(name = "newContactName" type="text" placeholder = "new contact" required)