include index.pug 

div(class="content-container")
    div(class="alert-message")
        p(style={margin: '0 2rem 0 0'}) The contact already exists in your list.
        a(class="btn-delete" onclick="this.parentElement.style.display='none';") &times;