div#navbar(class="navigation-bar")
        a(href="/" class="active") Home
        a(href="/contact-list") Contact List
        a(href="/players-online-table")=`Players online (${locals.tibiantisOnlineNumber})`
        a(href="/about") About