include index.pug 

div(class="content-container")
    if(playersOnlineArray.length)
        table
            tr 
                th Name
                th Vocation
                th Level
                th Actions
                    for player in playersOnlineArray
                        tr 
                            td(class="text-left")=`${player.name}`                   
                            td=`${player.vocation}`
                            td=`${player.level}`
                            td
                                a(class="btn-add" href=`/add-contact-by-name/${player.name}`) +

    else
        div(class="alert-message")
            p(style={margin: '0 2rem 0 0'}) The list cannot be retrieved from the server.
            a(class="btn-delete" onclick="this.parentElement.style.display='none';") &times;